In [8]:
import pandas as pd
#  usually a CSV file in the first row it already, or it just contains the names of the columns that we got here, our file immediately starts with the data.
#by providing names parameter pandas will no longer treat the first line of the file as Names or labels for the columns, but it will use whatever provided here.
# And in that case, um, pandas will no longer treat the first line of the file as Names or labels for the columns, but it will use whatever I provide here.
df = pd.read_csv('data/SMSSpamCollection', sep='\t', names=['type', 'message'])
df.head()
df['spam'] = df['type'] == "spam"
df.head()

   type                                            message   spam
0   ham  Go until jurong point, crazy.. Available only ...  False
1   ham                      Ok lar... Joking wif u oni...  False
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...   True
3   ham  U dun say so early hor... U c already then say...  False
4   ham  Nah I don't think he goes to usf, he lives aro...  False

In [5]:
df['type']

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: type, Length: 5572, dtype: object

In [6]:
df['type'].head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: type, dtype: object

In [ ]:
df.iloc[0] #iloc is used to access a row by its integer location

type                                                     ham
message    Go until jurong point, crazy.. Available only ...
Name: 0, dtype: object

In [8]:
df.iloc[0]['message']

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [9]:
# by default, a lot of these operations on the data frame, they always create a copy. So a copy has been created.
# inplace  means that we do not want a copy to be created. Everything should be done in place, meaning, that the column will be dropped and the data frame up here will be modified by this operation.
# or we can do like this also df = df.drop('type', axis=1)
df.drop('type', axis=1, inplace=True)
df.head()

                                             message   spam
0  Go until jurong point, crazy.. Available only ...  False
1                      Ok lar... Joking wif u oni...  False
2  Free entry in 2 a wkly comp to win FA Cup fina...   True
3  U dun say so early hor... U c already then say...  False
4  Nah I don't think he goes to usf, he lives aro...  False

In [ ]:
# If we want to train a neuron here, it's best if our type here would not be like a string ham or spam, but just a number or a true false value.
print("SPAM messages:")
print(len(df[df['spam'] == True]))

SPAM messages:
747

In [30]:
print("Not SPAM messages:")
print(len(df[df["spam"] == False]))

Not SPAM messages:
4825